table {
	margin-right:100px;
	margin-top:50px;
	border: 2px solid black;
	width:400px;
	text-align:center;
	font-size:24px;
}

a{
	text-decoration:none;
	color:black;
}
#main{
	font-family:arial;
	margin:20px;
}
Body{
	
	background:url(coal.png);
}
#zag3{
	text-align:center;
	margin-top:20px;
	margin-left:50px;
	font-size:45px;
	
}
#first{
	border: 3px solid black;
	height:150px;
	transition:0.5s;
	background-color:rgb(245, 245, 245);
	border-radius:10px;
}
#first:hover{
	box-shadow:0px 0px 30px 0px rgba(50, 50, 50, 1);
	margin:-10px;
}	
#zagtext{
	margin-left:40px;
	margin-top:30px;
}
#zag{
	font-size:72px;
	float:left;
	height:150px;
	width:400px;
	border-radius:10px 0px 0px 10px;
	background-color:rgb(220, 220, 220);
}

#second{
	display:flex;
	margin-top:20px;
}

.flex1{
	flex:1;
	border: 3px solid black;
	transition:0.5s;
	background-color:rgb(245, 245, 245);
	border-radius:10px;
}
.flex1:hover{
	box-shadow:0px 0px 30px 0px rgba(50, 50, 50, 1);
	margin:-10px;
}
.flex2{
	flex:2.5;
	border: 3px solid black;
	margin-left:20px;
	transition:0.5s;
	background-color:rgb(245, 245, 245);
	border-radius:10px;
}
#map{
	margin:0 auto 0 auto;
	width:1200px;
}
#tele{
	font-size:34px;
	margin-top:400px;
	margin-left:100px;
	padding-left:20px;
	
}
.flex2:hover{
	
	box-shadow:0px 0px 30px 0px rgba(50, 50, 50, 1);
	margin-right:-10px;
	margin-top:-10px;
	margin-bottom:-10px;
	margin-left: 10px;
}
#nav{
	padding-top:30px;
	margin-bottom:30px;
	text-align:center;
	font-size:40px;
	background-color:rgb(220, 220, 220);
	border-radius:10px 10px 0px 0px;
	height:80px;
}


.ug{
	height:150px;
	width:150px;
	border-radius: 100px; /* Радиус скругления */
    border: 3px solid black; /* Параметры рамки */
	margin-top:0px;
	margin-bottom:20px;
	margin-right:5px;
	margin-left:5px;
	transition:0.2s;

}

.ug:hover{
	box-shadow:0px 0px 30px 0px rgba(50, 50, 50, 1);
	height:200px;
	width:200px;
}

#last{
	margin-bottom:50px;
}

#img1{
	text-align:center;
	font-size:16px;
	
	
}

